<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>
        <meta name="theme-color" content="#343a40">
        <link rel="canonical" href="{{.Canonical}}" />
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body class="has-background-grey-lighter">
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        Lauf Podcasts
                    </a>
                    <a class="navbar-item" href="/info.html">
                        Info
                    </a>
                    <a class="navbar-item" href="/impressum.html">
                        Impressum
                    </a>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
            