{{template "header.html" .}}
<div class="box">
    <h1 class="title">Lauf Podcasts</h1>
    <p>
    Dies ist ein Aggregator für deutschsprachige Lauf-Podcasts.
    Die Liste der Podcasts wird manuell gepflegt, während die Infos zu den jeweiligen Podcasts automatisch über die zugehörigen RSS-Feeds bezogen werden.
    </p>
    <p>
    Fehlt ein Podcast oder gibt es sonstiges Feeback? Mail an <a href="mailto:fpigorsch@gmail.com">fpigorsch@gmail.com</a>!
    </p>
    <p>
    Der Source-Code des Lauf Podcast Aggerators ist bei Github zu finden:  github.com/flopp/lauf-podcast-aggregator.
    </p>
</div>
{{template "footer.html" .}}